$text-color: #f8f9fa;
$button-active-gray: #757575;
$conic-gradient: conic-gradient(
                hsl(0, 100%, 50%),
                hsl(30, 100%, 50%),
                hsl(60, 100%, 50%),
                hsl(90, 100%, 50%),
                hsl(120, 100%, 50%),
                hsl(150, 100%, 50%),
                hsl(180, 100%, 50%),
                hsl(210, 100%, 50%),
                hsl(240, 100%, 50%),
                hsl(270, 100%, 50%),
                hsl(300, 100%, 50%),
                hsl(330, 100%, 50%),
                hsl(360, 100%, 50%)
);

.navbar {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.tools_block, .modal_overlay, footer {
  .wrapper {
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      transition: background-color .5s;

      &:hover, &.active {
        background-color: $button-active-gray;
        transition: background-color .5s;
      }

      &.active {
        border: 2px solid cornflowerblue;
      }
    }
  }
  ul.dropdown-menu, li, .dropdown-item {
    background: #212529;
    color: $text-color;
    border-color: $button-active-gray;
    letter-spacing: 1px;
    font-size: 12px;
  }

  ul.dropdown-menu {
    border-radius: 5px;

    .dropdown-item {
      &:hover, &:focus {
        background: $button-active-gray;
      }
    }
  }
}

.control_panel {
  height: 150px;

  .tools_block, .color_block, .size_block, .image_block, .selection_block {
    padding: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    .wrapper {
      display: grid;
      gap: 8px;
    }
  }

  .image_block, .tools_block {
    i {
      font-size: 18px;
    }
  }

  .image_block {
    .dropdown-toggle {
      &:after {
        margin-left: 5px;
        color: $text-color;
      }
    }

    ul.dropdown-menu {
      background: #212529;

      li {
        .dropdown-item {
          &:hover, &:focus {
            background: $button-active-gray;
          }

          i {
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 1px;

            &:before {
              font-size: 16px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .tools_block {
    .wrapper {
      grid-template-columns: repeat(3, 18px);
      column-gap: 25px;
    }
  }

  .size_block, .selection_block {
    ul.dropdown-menu, li, button.dropdown-item {
      background: #6e6e6e;
      font-size: 14px;
      color: $text-color;
    }

    .dropdown-item:hover, .dropdown-item:focus {
      background: $button-active-gray;
    }

    li.active{
      position: relative;
      &:after{
        content: "|";
        font-weight: bold;
        color: cornflowerblue;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .dropdown-toggle {
      height: 75px;
      padding: 5px;

      img {
        position: relative;
        display: block;
        bottom: 0;
        fill: white;
      }

      &:after {
        position: relative;
        margin: 0 auto;
        color: $text-color;
      }
    }
  }

  .selection_block{
    text-align: center;
    button{
      div{
        width: 26px;
        height: 26px;
        border: 1px dashed white;
      }
    }
  }

  .color_block {
    .firstColor, .secondColor {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid;
    }

    .wrapper {
      grid-template-columns: repeat(10, 18px);

      div.colorList {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #817f7f;
      }
    }

    //
    input[type=color], .color-select, .color-input-wrapper{
      height: 2.5em;
      width: 2.5em;
     }
    .color-input-wrapper {
      display: inline-flex;
      align-items: center;
      position: relative;
      &:after{
        content: "+";
        position: absolute;
        background: #212529;
        z-index: 100;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        border-radius: 50%;
        color: lightgray;
        font-weight: 600;
        border: 2px solid white;
        padding: 0 0 2px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -1px;
        top: -4px;
      }
      input[type=color], .color-select{
        border: 1px solid #817f7f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-radius: 50%;
      }

      .color-select{
        background: $conic-gradient;
        cursor: pointer;

      }
    }
  }
}


.footer, .size-modal{

}

main {
  height: calc(100vh - 248px);
  padding: 15px;
  overflow-x: auto;
  display: grid;
  place-items: center;


  img, canvas {
    &:hover, &:active {
      cursor: crosshair;
    }

    &.bi-paint-bucket {
      &:hover, &:active {
        cursor: url("../images/cursors/bi-paint-bucket.svg"), auto;
      }
    }

    &.bi-eyedropper {
      &:hover, &:active {
        cursor: url("../images/cursors/bi-eyedrpper.svg"), auto;
      }
    }

    &.bi-zoom-in {
      &:hover, &:active {
        cursor: url("../images/cursors/bi-zoom-in.svg"), auto;
      }
    }

    &.bi-eraser {
      &:hover, &:active {
        cursor: url("../images/cursors/bi-eraser.svg"), auto;
      }
    }
    &.bi-fonts {
      &:hover, &:active {
        cursor: text;
      }
    }
  }

}

footer {
  height: 40px;
  border-top: 1px solid black;
  font-size: 12px;

  span {
    min-width: 111px;
  }

  i {
    font-size: 14px;
    position: relative;

    &.bi-cursor {
      transform: scaleX(-1);
    }

    &.bi-fullscreen:after {
      content: '';
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid $text-color;
    }
  }

  button.dropdown-toggle {
    font-size: 12px;
    border-radius: 5px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.dropdown-menu, li, .dropdown-item {
    max-width: 100px;
  }

  input[type="range"] {
    height: 5px;
    background-color: $button-active-gray;
    border-radius: 2px;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: cornflowerblue;
      border: 4px solid #555;
      cursor: pointer;
    }
  }
}

.dark_theme {
  //scroll style
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1d1d; /* Color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
  }

  //end scroll style


  h1, h2, h3, h4, h5, h6, p, a, span, li, i {
    color: $text-color;
  }

  .control_panel, .modal_block {
    background: rgba(gray, .4);

  }
}
.modal_overlay, .textMode, .size-modal {
  display: none;
  &.show{
    display: block;
  }
}
.modal_overlay {
  position: absolute;
  top: 2px;
  width: 800px;
  margin: 0 auto;
  height: 50px;
  .modal_wrapper {
    max-width: 800px;
    width: 100%;
    height: 50px;
    .modal_block {
      height:100%;
      width:100%;
      border-radius: 8px;
      padding: 5px;
      .modal_body {
        i{
          font-size: 22px;
        }
      }
    }
  }
}

textarea.textMode{
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  resize: both;
  overflow: auto;
}

textarea.textMode, .textMode:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;

}

.size-modal {
    position: fixed;
    top: calc(50vh + 23vh);
    left: 15px;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    background: rgba(128, 128, 128, 0.4);
    padding: 7px 10px 10px 10px;
    border-radius: 8px;
    height: 43px;
  .custom-vertical-range {
    width: 25vh;
    height: 5px;
    margin: 5px;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: cornflowerblue;
      border: 4px solid #555;
      cursor: pointer;
    }
  }
  img{
    transform: rotate(-90deg);
    padding: 0 4px 0 2px;
    opacity: .5;
  }
}


