
.navbar {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.control_panel {
  height: 150px;

  .tools_block, .color_block, .size_block {
    padding: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    .wrapper {
      display: grid;
      gap: 8px;
    }
  }

  .tools_block {
    .wrapper {
      grid-template-columns: repeat(3, 18px);
      column-gap: 20px;
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        transition: background-color .5s;
        &:hover{
          background-color: #888;
          transition: background-color .5s;
        }
        i{
          font-size: 18px;
        }
      }
    }
  }
  .size_block{
    .dropdown-toggle{
      height: 90px;
      padding: 5px;
      img{
        position: relative;
        display: block;
        bottom: 0;
        fill: white;
      }
      &:after {
        position: relative;
        top: 0;
        color: white;
      }
    }
  }
  .color_block {
    .firstColor, .secondColor {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid;
    }

    .wrapper {
      grid-template-columns: repeat(10, 18px);
      div.colorList {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #817f7f;
      }
    }
    //
    .color-input-wrapper {
      height: 2.5em;
      width: 2.5em;
      overflow: hidden;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      position: relative;
      border: 1px solid #888;
      input[type=color] {
        position: absolute;
        height: 4em;
        width: 4em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
    }
  }
}

main {
  height: calc(100vh - 248px);
  padding: 15px;
  overflow-x: auto;
  display: grid;
  place-items: center;

  img, canvas {
    &:hover {
      cursor: crosshair;
    }
    &:active {
      cursor: crosshair;
    }
  }
}

footer {
  height: 40px;
  border-top: 1px solid black;
  font-size: 12px;

  span {
    min-width: 111px;
  }

  i {
    font-size: 14px;
    position: relative;

    &.bi-cursor {
      transform: scaleX(-1);
    }

    &.bi-fullscreen:after {
      content: '';
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 8px;
      height: 8px;
      border: 1px solid white;
    }
  }

  button.dropdown-toggle {
    font-size: 12px;
    border-radius: 5px;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul.dropdown-menu, li, .dropdown-item {
    color: white;
    background: #212529;
    border-color: #888;
    max-width: 100px;
    font-size: 12px;
  }

  ul.dropdown-menu {
    border-radius: 5px;

    .dropdown-item {
      &:hover, &:focus {
        background: #888;
      }
    }
  }

  input[type="range"] {
    //-webkit-appearance: none;
    //appearance: none;
    height: 5px;
    background-color: #888;
    border-radius: 2px;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: cornflowerblue;
      border: 4px solid #555;
      cursor: pointer;
    }
  }
}

.dark_theme {
  //scroll style
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1d1d; /* Color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovered */
  }

  //end scroll style


  h1, h2, h3, h4, h5, h6, p, a, span, li, i {
    color: #fff;
  }

  .control_panel {
    background: rgba(gray, .4);

  }
}







